{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <style>
        #preloder {
        display: none;
        position: fixed;
        left: 0; top: 0;
        width: 100%; height: 100%;
        background: rgba(0,0,0,0.7);
        z-index: 9999;

    }
    </style>

</head>

<body>
    {% include 'includes/header.html' %}
    {%block content%}
    {% endblock %}
    {% include 'includes/footer.html' %}

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        window.onload = function() {
            const url = new URL(window.location.href);
            if (url.searchParams.has("page")) {
                const produtos = document.getElementById("produtos_inicio");
                if (produtos) {
                    produtos.scrollIntoView({ behavior: "smooth" });
                }
            }
        };
    </script>
    <script>
        $(function () {
            const slider = $(".price-range");
            const minAmountInput = $("#minamount");
            const maxAmountInput = $("#maxamount");
        
            if (slider.length && typeof slider.data("min") !== 'undefined') {
                const minSliderVal = parseInt(slider.data("min"));
                const maxSliderVal = parseInt(slider.data("max"));
                const startVal = parseInt(slider.data("start"));
                const endVal = parseInt(slider.data("end"));
        
                slider.slider({
                    range: true,
                    min: minSliderVal,
                    max: maxSliderVal,
                    values: [startVal, endVal],
                    slide: function (event, ui) {
                        minAmountInput.val(ui.values[0]);
                        maxAmountInput.val(ui.values[1]);
                    },
                    change: function (event, ui) {
                        if (event.originalEvent) {
                            minAmountInput.val(ui.values[0]);
                            maxAmountInput.val(ui.values[1]);
        
                            $('html, body').animate({ scrollTop: 0 }, 600, function() {
                                const url = new URL(window.location.href);
                                url.searchParams.set('preco_min', ui.values[0]);
                                url.searchParams.set('preco_max', ui.values[1]);
                                url.searchParams.delete('page');
                                window.location.href = url.toString();
                            });
                        }
                    }
                });
        
                minAmountInput.val(slider.slider("values", 0));
                maxAmountInput.val(slider.slider("values", 1));
        
                function handlePriceInputChange() {
                    let currentMin = parseInt(minAmountInput.val());
                    let currentMax = parseInt(maxAmountInput.val());
        
                    if (isNaN(currentMin) || currentMin < minSliderVal) {
                        currentMin = minSliderVal;
                    } else if (currentMin > maxSliderVal) {
                        currentMin = maxSliderVal;
                    }
        
                    if (isNaN(currentMax) || currentMax > maxSliderVal) {
                        currentMax = maxSliderVal;
                    } else if (currentMax < minSliderVal) {
                        currentMax = minSliderVal;
                    }
                    
                    if (this.id === "minamount") {
                        if (currentMin > currentMax) {
                            currentMax = currentMin;
                        }
                    } else if (this.id === "maxamount") {
                        if (currentMax < currentMin) {
                            currentMin = currentMax;
                        }
                    }
                    
                    currentMin = Math.max(minSliderVal, Math.min(currentMin, maxSliderVal));
                    currentMax = Math.max(minSliderVal, Math.min(currentMax, maxSliderVal));
        
                    minAmountInput.val(currentMin);
                    maxAmountInput.val(currentMax);

                    slider.slider("values", [currentMin, currentMax]);
        
                    $('html, body').animate({ scrollTop: 0 }, 600, function() {
                        const url = new URL(window.location.href);
                        url.searchParams.set('preco_min', currentMin);
                        url.searchParams.set('preco_max', currentMax);
                        url.searchParams.delete('page');
                        window.location.href = url.toString();
                    });
                }
        
                minAmountInput.on("change", handlePriceInputChange);
                maxAmountInput.on("change", handlePriceInputChange);
            }
        });
    </script>
    <script>
        const cepInput = document.getElementById("cep");
        const freteForm = document.getElementById("frete-form");
        const freteResult = document.getElementById("frete-result");

        cepInput.addEventListener("input", function () {
            let valor = this.value.replace(/\D/g, '');

            if (valor.length > 5) {
                valor = valor.slice(0, 5) + '-' + valor.slice(5, 8);
            }

            this.value = valor;
        });

        freteForm.addEventListener("submit", function (e) {
            e.preventDefault();

            const cep = cepInput.value.replace(/\D/g, '');

            fetch(`/shop/calcular-frete/?cep=${cep}`)
                .then(response => response.json())
                .then(data => {
                    if (data.valor_frete) {
                        freteResult.innerHTML = `
                            <p><strong>Frete:</strong> ${data.valor_frete} (${data.uf})</p>`;
                    } else if (data.erro) {
                        freteResult.innerHTML = `<p style="color:red;">${data.erro}</p>`;
                    }
                })
                .catch(() => {
                    freteResult.innerHTML = `<p style="color:red;">Erro ao calcular o frete.</p>`;
                });
        });
    </script>

            
</body>

</html>