{%extends 'base.html'%}
{% load static %}
{%block content%}

{% include 'includes/hamburguer.html'%}
{% include 'includes/hero_with_banner.html'%}

<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="{% static "img/categories/cat-1.jpg" %}">
                        <h5><a href="#">Fresh Fruit</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Produtos em Destaque</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">Todos</li>
                        <li data-filter=".oranges">Grãos</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="{% static "img/featured/feature-8.jpg" %}">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured Section End -->

<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <a href="/loja/departamento/alimentos-naturais/categoria/frutas-organicas/">
                        <img src="{% static 'img/banner/banner-1.jpg' %}" alt="" vspace='10'>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <a href="/loja/departamento/bebidas-saudaveis/categoria/sucos-naturais/">
                        <img src="{% static 'img/banner/banner-2.jpg' %}" alt="" vspace='10'>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->

{% endblock %}