{% extends 'base.html' %}
{% load static %}
{% block  content %}

{% include 'includes/hamburguer.html' %}
{%include 'includes/hero_normal.html'%}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static "img/breadcrumb.jpg" %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Favoritos</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Produtos Favoritados</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for item in fav_items%}
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img src="{{item.produto.produto_imagem.url}}" alt="" style="width: 180px; height: auto;">
                                        <h5>{{item.produto.produto_nome}}</h5>
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <a href="{%url 'removerItemFavorito' item.produto.id%}"><span class="icon_close"></span></a>
                                    </td>
                                </tr>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="#" class="primary-btn cart-btn">Retornar a loja</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->
{% endblock %}