{%extends 'base.html'%}
{% load static %}
{%block content%}

{% include 'includes/hamburguer.html'%}
{% include 'includes/hero_with_banner.html'%}

<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                {% for dept in departamentos %}
                <div class="col-lg-3">
                    <a href="{{dept.get_url}}">
                    <div class="categories__item set-bg" data-setbg="{{dept.departamento_imagem.url}}">
                        <h5>{{dept.nome}}</h5>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Produtos em Destaque</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">Todos</li>
                        {% for cat in opcoes_cat_random %}
                        <li data-filter=".{{cat.slug}}">{{cat.categoria_nome}}</li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            {%for prod in produto_destaque %}
            <div class="col-lg-3 col-md-4 col-sm-6 mix {{ prod.categoria.slug }}">
                <div class="featured__item">
                    <div class="featured__item__pic">
                        <a href="{{ prod.get_url }}">
                            <img src="{{ prod.produto_imagem.url }}" alt="{{ prod.produto_nome }}">
                        </a>
                        <ul class="featured__item__pic__hover">
                            <li><a href="{% url 'toggleFavorito' prod.id %}"><i class="fa fa-heart"></i></a></li>
                            <li><a href="{% url 'adicionarCarrinho' prod.id %}"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>

                    <div class="featured__item__text">
                        <h6><a href="{{prod.get_url}}">{{prod.produto_nome}}</a></h6>
                        {% if prod.promocao_disponivel %}
                            <h5>
                                R${{ prod.preco_efetivo|floatformat:2 }} 
                                <span class="text-muted" style="text-decoration: line-through;">R${{ prod.preco|floatformat:2 }}</span>
                            </h5>
                        {% else %}
                            <h5>R${{ prod.preco|floatformat:2 }}</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</section>
<!-- Featured Section End -->

<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <a href="/loja/departamento/alimentos-naturais/categoria/frutas-organicas/">
                        <img src="{% static 'img/banner/banner-1.jpg' %}" alt="" vspace='10'>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <a href="/loja/departamento/bebidas-saudaveis/categoria/sucos-naturais/">
                        <img src="{% static 'img/banner/banner-2.jpg' %}" alt="" vspace='10'>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->

{% endblock %}