{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'includes/hamburguer.html' %}
{%include 'includes/hero_normal.html'%}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static "img/breadcrumb.jpg" %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Carrinho</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product" style="text-indent: 50px;"">Produtos</th>
                                    <th>Preço</th>
                                    <th>Quantidade</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for item in car_items%}
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img src="{{item.produto.produto_imagem.url}}" alt="" style="width: 180px; height: auto;">
                                        <h5>{{item.produto.produto_nome}}</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        {%if item.produto.promocao_disponivel %}
                                        R${{item.produto.preco_com_desconto|floatformat:2}}
                                        {%else%}
                                        R${{item.produto.preco}}
                                        {%endif%}
                                    </td>
                                    <td class="shoping__cart__quantity" style="text-align: center;">
                                        <div class="quantity">
                                            <div class="pro-qty d-inline-flex align-items-center">
                                                <a href="{% url 'diminuirQuantidadeProdutoCarrinho' item.produto.id %}" class="btn btn-sm btn-light border mx-1">-</a>
                                                <input type="text" value="{{ item.quantidade }}" readonly style="width: 40px; text-align: center; border: none;">
                                                <a href="{% url 'adicionarCarrinho' item.produto.id %}" class="btn btn-sm btn-light border mx-1">+</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total">
                                        R${{item.getSubTotal|floatformat:2}}
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <a href="{%url 'removerItemCarrinho' item.produto.id%}"><span class="icon_close"></span></a>
                                    </td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="{%url 'shop'%}" class="primary-btn cart-btn cart-btn-right">Continuar comprando</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__continue">
                        <div class="shoping__discount">
                            <h5>Cupom</h5>
                            <form action="#">
                                <input type="text" placeholder="Digite o codigo do cupom">
                                <button type="submit" class="site-btn">Aplicar disconto</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Total do carrinho</h5>
                        <ul>
                            <li>Subtotal <span>R${{total|floatformat:2}}</span></li>
                            <li>Imposto <span>R${{imposto|floatformat:2}}</span> </li>
                            <li>Total <span>R${{total_com_imposto|floatformat:2}}</span></li>
                        </ul>
                        <a href="{%url 'checkout'%}" class="primary-btn">Prosseguir para o pagamento</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->

{% endblock %}

{%block extra_js%}
    <script src="{% static 'js/carrinho_frete.js' %}"></script>
{%endblock%}